<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="../styles/styles.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #2a8c4a;">
    <a class="navbar-brand text-white" href="#" style="margin-right: auto; color: white;">
        CheckBuy
    </a>
    <div class="ml-auto d-flex">
        <button class="btn btn-light btn-custom mr-2" style="background-color: white;">Login</button>
        <button class="btn btn-success btn-custom mr-2" style="background-color: #d0fdd7; color: black;">Registre-se</button>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>